.chart-page {
    padding: 5px;
    position: relative;
    width: 98%;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9fafc;
  min-height: 100vh;
  color: #333;
}

.chart-page h2 {
  font-size: 1.8rem;
  margin-bottom:5px;
  color: #ffffff;
}
.upload-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.upload-section input[type="file"] {
  display: none;
}

.custom-file-upload {
  padding: 1rem 2rem;
  border-radius: 8px;
  background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
  color: white;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.custom-file-upload:hover {
  background: linear-gradient(135deg, #43e97b 0%, #38f9d7 100%);
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.controls {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.controls label {
  font-weight: 500;
  margin-right: 0.5rem;
}

.controls select {
  padding: 0.4rem 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  font-size: 1rem;
  min-width: 120px;
  transition: border 0.3s ease;
}

.controls select:focus {
  border-color: #007bff;
  outline: none;
}

.chart-container {
  margin-top:10px;
 background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  padding: 1.2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;

}

.chart-container button {
  padding: 8px 16px;
  margin-right: 10px;
  border: none;
  border-radius: 6px;
  background-color: #48bcb9;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chart-container button:hover {
  background-color: #2a5298;
}
.download-btns{
    position: relative;
    height: 15vh;
    display: flex;
    width: 20vw;
    margin-left: 0;
    flex-direction: column;
    justify-content: space-around;
}
.summary-section{
  display: flex;
    flex-direction: column;
    align-items: center;
}
.summary-btn{
    width: fit-content;
    height: 5vh;
    color: white;
}