.dashboard{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: rgba(250, 235, 215, 0.725);
}

.main-content{
    width: 100%;
    height: 80vh;
    position: relative;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}