.home{
    width: 100vw;
    height: 100vh;
    background-color:#f9fafc;
   overflow: hidden;
    display: flex;
}
@media (max-width: 768px) {
    .home {
    width: 100vw;
    background-color:#f9fafc;
   overflow:auto;
    display: flex;
    }
    
}